{% extends 'base.html.twig' %}

{% block title %}New Page | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Create new Page</h1>

    {{ breadcrumbs()|raw }}

    {{ include('page/_form.html.twig') }}

{% endblock %}
