{% extends 'content.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-3">
            {% include 'components/user-menu.html.twig' %}
        </div>
        <div class="col-9">
            <h1 class="title">Change Password</h1>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'mt-3' } }) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
