{% set path = path('test_delete', {
    'project': assert.test.group.resource.project.id,
    'resource': assert.test.group.resource.id,
    'group': assert.test.group.id,
    'action': assert.test.id,
    'id': assert.id
}) %}

<form class="float-right" method="post" action="{{ path }}"
      onsubmit="return confirm('Are you sure you want to delete this item?')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assert.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-trash-alt"></i> Delete
    </button>
</form>
