{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-primary mt-3" role="alert">
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </div>
{% endblock %}
