{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="mt-3">
        <div class="form-group row">
            <label for="username" class="col-auto col-form-label">Enter email address</label>
            <div class="col">
                <input type="text" id="username" name="username" required="required" class="form-control"/>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}
