{% extends 'content.html.twig' %}

{% block title %}New Project | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Create new project</h1>

    {{ breadcrumbs()|raw }}

    {% include 'components/flash-messages.html.twig' %}

    {{ include('pages/project/_form.html.twig') }}

{% endblock %}
