html,
body {
  height: 100%;
}

.vertical-align {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.margin-auto {
  margin: auto;
}

.image-diff img {
  margin: auto;
  display: block;
}

.custom-select {
  background: #fff;
}
