html,
body {
  height: 100%;
}

.vertical-align {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.margin-auto {
  margin: auto;
}

.image-diff img {
  margin: auto;
  display: block;
}

.custom-select {
  background: #fff;
}

.icon-browser {
  background: url(/assets/graphics/browser.svg) no-repeat 0px 4px;
  width: 18px;
  height: 24px;
  display: block;
  background-size: contain;
}

.icon-browser-small {
  background: url(/assets/graphics/browser-small.svg) no-repeat 0px 4px;
  width: 18px;
  height: 24px;
  display: inline-block;
  background-size: contain;
}
