{% extends 'content.html.twig' %}

{% block title %}Edit Authenticator | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Edit Authenticator</h1>

    {{ breadcrumbs(authenticator)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    {% if authenticator.type == 'selenium' %}
        {{ include('pages/authenticator/type/selenium_form.html.twig') }}
    {% endif %}

    {% if authenticator.type == 'http' %}
        {{ include('pages/authenticator/type/http_form.html.twig') }}
    {% endif %}

{% endblock %}
