{% extends 'content.html.twig' %}

{% block title %}New Authenticator{% endblock %}

{% block content %}
    <h1>Create new Authenticator</h1>

    {% if authenticator.type == 'selenium' %}
        {{ include('pages/authenticator/type/selenium_form.html.twig') }}
    {% endif %}

    {% if authenticator.type == 'http' %}
        {{ include('pages/authenticator/type/http_form.html.twig') }}
    {% endif %}


{% endblock %}
