<form method="post" action="{{ path('page_snapshot_delete', {'id': page_snapshot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page_snapshot.id) }}">
    <button class="btn">Delete</button>
</form>