{% extends 'base.html.twig' %}

{% block title %}New PageSnapshot{% endblock %}

{% block body %}
    <h1>Create new PageSnapshot</h1>

    {{ include('page_snapshot/_form.html.twig') }}

    <a href="{{ path('page_snapshot_index') }}">back to list</a>
{% endblock %}