{% extends 'content.html.twig' %}

{% block title %}Edit TestAction{% endblock %}

{% block content %}
    <h1>Edit TestAction</h1>

    {{ include('pages/test/_form.html.twig', {'button_label': 'Update'}) }}

    {% if forms is defined %}

        {% for form in forms %}

            {{ include('pages/test/_form.html.twig', {'button_label': 'Update'}) }}

        {% endfor %}

    {% endif %}

    {#{{ include('pages/test/_delete_form.html.twig') }}#}
{% endblock %}
