{% extends 'content.html.twig' %}

{% block title %}New User | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Create new User</h1>

    {{ include('pages/user/_form.html.twig') }}

{% endblock %}
