<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WebWatcher{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navigation %}{% endblock %}
        {% block body %}{% endblock %}
        <script src="{{ asset('build/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
