<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'nav.html.twig' %}

        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ asset('build/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
