{% extends 'base-navigation.html.twig' %}

{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
