{% extends 'base-navigation.html.twig' %}

{% block body %}
    <div class="container-fluid mt-2" style="height: calc(100% - 64px);">
        <div class="row" style="height: 100%">
            <div class="col-12" style="height: 100%;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
