<div class="row mb-3">
    <div class="col-12">
        {% for index, breadcrumb in breadcrumbs %}
            <a {% if breadcrumb.tooltip is defined %}data-toggle="tooltip" data-placement="bottom" title="{{ breadcrumb.tooltip }}"{% endif %}
               href="{{ breadcrumb.href }}"
            >{{ breadcrumb.title|length > 50 ? breadcrumb.title|slice(0, 50) ~ '…' : breadcrumb.title }}</a>
            {% if index < breadcrumbs|length - 1 %}
                <i class="fa fa-chevron-right"></i>
            {% endif %}
            {% if index == breadcrumbs|length - 1 %}
                {{ suffix }}
            {% endif %}
        {% endfor %}
    </div>
</div>
