<div class="row mb-3">
    <div class="col-12">
        {% for index, breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.title }}</a>

            {% if index < breadcrumbs|length - 1 %}
                <i class="fa fa-chevron-right"></i>
            {% endif %}
        {% endfor %}
    </div>
</div>
