{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message|raw }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}

