<div class="input-group hash-component">
    <input disabled type="text" class="form-control" value="{{ hash }}" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Copy</button>
    </div>
</div>
