<table class="table">
    <tr>
        <th>Timestamp</th>
        <td>
            {{ snapshot.timestamp|date(datetime_format()) }}
        </td>
    </tr>

    {% if snapshot.details%}
        <tr>
            <th>Request time</th>
            <td>
                {{ snapshot.details.time }} milliseconds
            </td>
        </tr>
        <tr>
            <th>HTTP Status</th>
            <td>{% include 'components/response-code.html.twig' with {code: snapshot.details.response.status} only %}</td>
        </tr>
    {% endif %}
</table>

{% if snapshot.details and snapshot.details.response.headers is not empty %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2">Response headers</th>
        </tr>
        </thead>
        <tbody>
        {% for header in snapshot.details.response.headers %}
            <tr>
                <th>{{ header.name }}</th>
                <td>{{ header.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

