{% extends 'content.html.twig' %}

{% block title %}New Group | {{ parent() }}{% endblock %}

{% block content %}
    <h1>New Group</h1>

    {{ include('pages/groups/_form.html.twig') }}
{% endblock %}
