<div class="row mb-2">
    <div class="col-6">
        <p class="mt-2 mb-2">Assert HTTP status code equals</p>
    </div>
    <div class="col-5">
        {{ form_start(form) }}
        <div class="input-group">
            {{ form_widget(form.code) }}
            <div class="input-group-append">
                <button data-toggle="tooltip"
                        data-placement="left"
                        title="Save"
                        type="submit" class="btn btn-secondary">
                    <i class="fas fa-save"></i>
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-1">
        {{ include('pages/assert/_delete_form.html.twig', {'assert': form.vars.data }) }}
    </div>
</div>
