{% extends 'base.html.twig' %}

{% block title %}New Project | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Create new Project</h1>

    {{ breadcrumbs()|raw }}

    {{ include('project/_form.html.twig') }}

{% endblock %}
